@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS.eot');
    src: local('Trebuchet MS'), local('TrebuchetMS'),
        url('fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('fonts/TrebuchetMS.woff') format('woff'),
        url('fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #eee;
	position: relative;
}

/* ----------------Стили формы ----------------- */

.form-discount-wrap,
.form-discount-wrap * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}


.form-discount-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Trebuchet MS";
	box-sizing: border-box;
    z-index:2000;
}

.form-discount {
	width: 920px;
	height: 576px;
	border-radius: 12px;
	display: flex;
}

.form-discount__left-side {
	width: 50%;
	position: relative;
	border-radius: 12px 0 0 12px;
}

.form-discount__right-side {
	width: 50%;
	position: relative;
	background: #fff;
	border-radius: 0px 12px 12px 0;
	padding: 34px 90px 34px 34px;
}

.form-discount__header {
	font-size: 36px;
	line-height: 40px;
	font-weight: 500;
	color: #2C4C42;
	margin-bottom: 40px;
	max-width: 270px;
}

.form-discount__header span {
	color: #3D6723;
	font-weight: 700;
}

.form-discount__text {
	font-size: 16px;
	line-height: 18px;
	color: #2C4C42;
	margin-bottom: 40px;
	max-width: 290px;
}

.form-discount__text span {
	color: #3D6723;
	font-weight: 700;
}

#form-discount input {
	width: 330px;
	height: 50px;
	padding: 15px 25px;
	background: #ddd;
	border-radius: 8px;
	margin-bottom: 18px;
	transition: background .3s;
}

#form-discount input:focus {
	background: #ccc;
}


#form-discount input.form-discount__button {
	background: #3D6723;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition: background .3s;
}

#form-discount input.form-discount__button:hover {
	background: #468023;
}

.close-form {
	position: absolute;
	width: 27px;
	height: 27px;
	top: 30px;
	right: 20px;
	cursor: pointer;
}

.close-form::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 3px;
	transform: rotate(45deg);
	background: #3D6723;
}

.close-form::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 3px;
	transform: rotate(-45deg);
	background: #3D6723;
}

@media screen and (max-width: 990px) {
	.form-discount {
		width: 90%;
	}

	.form-discount__left-side {
		width: 40%;
	}

	.form-discount__right-side {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.form-discount {
		width: 90%;
		display: flex;
   	 justify-content: center;
	}

	.form-discount__left-side {
		width: 40%;
		display: none;
	}

	.form-discount__right-side {
		width: 500px;
		border-radius: 12px;
	}
}

@media screen and (max-width: 500px) {
	.form-discount__right-side {
		width: 94%;
		padding-right: 34px;
	}

	#form-discount input {
		width: 96%;
	}

	.form-discount__header {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 33px;
		line-height: 36px;
	}
}

@media screen and (max-width: 420px) {
	.form-discount__header {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 25px;
		line-height: 30px;
		width: 90%;
	}
}